body {
  padding-top: 30px;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map {
  height: 100%;
}

#mapDiv {
  height: 500px;
  margin-top: 5%;
  padding-bottom: 5%;
}

#instantFeed {
  margin-top: 5%;
}

.feed-img {
  max-width: 100px;
  max-height: 100px
}

.navbar-inverse {
  background-color: #43BBCA;
  border-color: #43BBCA;
}

.navbar-inverse .navbar-brand {
  color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
  color:#000000;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
