body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map {
  height: 100%;
}

#mapDiv {
  height: 500px;
  margin-top: 5%;
  padding-bottom: 5%;
}

#instantFeed {
  margin-top: 5%;
}

.feed-img {
  max-width: 100px;
  max-height: 100px
}

.navbar-inverse {
  background-color: #43BBCA;
  border-color: #43BBCA;

}
